---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<!-- Hero unit -->
	<section class="bg-[#FAF1E4] p-4">
		<article>
			<div class="h-0.5 bg-[#435334] mx-6 mb-10"></div>

			<div class="flex justify-center items-center">
				<div class="relative inline-block">
				  <div class="absolute inset-0 border-2 border-[#435334] w-96 mx-auto"></div>

				  <h1 class="text-[#CF5138] text-8xl font-['Spectral'] font-semibold text-center relative">Digital CleanUp Day</h1>
				  
				  <img class="rounded-full relative max-w-2xl h-auto mt-8 mb-8 mx-auto" src="/Billede1.webp" alt="">
				</div>
			  </div>

			<div class="relative flex justify-center items-center mx-6 my-8">
				<div class="absolute h-0.5 bg-[#435334] w-full"></div>
			  
				<h2 class="relative z-10 text-[#FAF1E4] text-4xl font-['Spectral'] bg-[#435334] rounded-full inline-block text-center p-4">
				  16 marts 2024
				</h2>
			
				<h2 class="relative z-10 text-[#435334] text-4xl font-['Spectral'] bg-[#FAF1E4] border border-[#435334] rounded-full inline-block text-center p-4 ml-4">
				  Gem datoen!
				</h2>
			  </div>
		</article>
	</section>

	<!-- Sektion 1 - Hvad er digitalt skrald -->
	<section id="sektion1" class="bg-[#CEDEBD] p-4 pt-24 pb-24">
		<article class=" lg:grid grid-cols-2" >
			<div>
			<h1 class="text-[#CF5138] font-['Spectral'] text-8xl font-semibold ml-28 lg:ml-48  mt-10 mb-10">Hvad er digitalt skrald?</h1>
		</div>
		<div class=" mr-12 mt-10 text-[#435334] ml-28 lg:-ml-0 lg:mr-48" >
			<p class="mt-11">Digitalt skrald refererer til unødvendige eller uønskede filer, data eller informationer, der optager plads på elektroniske enheder som computere, smartphones eller tablets. </p> 
			<p class="mt-4">Dette kan inkludere midlertidige internetfiler, ubrugte applikationer, spam-e-mails, duplikatfiler og lignende. Digitalt skrald kan forringe enhedens ydeevne og forbruge unødvendig lagerplads, og det er derfor vigtigt at rydde op i det regelmæssigt for at forbedre enhedens effektivitet og sikkerhed.</p>
		</div>
		</article>
	</section>

	<!-- Sektion 2 - Problemet med digitalt skrald -->
	<section id="sektion2" class="bg-[#9EB384] p-4">
		<article>
			<h1 class="text-[#FAF1E4] text-5xl font-['Spectral'] font-semibold text-center p-4 mt-8">Problemet med digitalt skrald</h1>

			<div class="grid lg:grid-cols-3 gap-4 m-10 p-4">
				<div class="flex flex-col p-4">
					<img class="w-64 h-64 p-4 mx-auto" src="/Figur1.png" alt="">
					<p class="text-center m-4">Hvert år producerer internettet og dets støttesystemer mere end 900 millioner tons CO2.</p>
				</div>
			
				<div class="flex flex-col p-4">
					<img class="p-4 mx-auto" src="/Figur2.png" alt="">
					<p class="text-center m-4 mt-0">De globale CO2-emissioner relateret til energi steg i 2022 med 0,9%, og nåede et nyt højdepunkt på mere end 36,8 milliarder ton. Ifølge visse beregninger udgør internetbrug 3,7% af de globale emissioner, hvilket svarer til al lufttrafik i verden. Og dette tal forventes at fordoble sig inden 2025.</p>
				</div>

				<div class="flex flex-col p-4">
					<img class="w-auto h-64 p-4 mx-auto" src="Figur3.png" alt="">
					<p class="text-center m-4">Nogle studier skønner, at internetnetværket vil forbruge 20 procent af verdens samlede energi inden 2030.</p>
				</div>
			</div>
		</article>
	</section>

	<!-- Sektion 3 - Did you know? -->
	<section id="sektion3" class="bg-[#FAF1E4] pt-24 pb-24">
		<article class=" ml-20 mr-20 lg:grid grid-cols-3 gap-4 lg:ml-48 lg:mr-48" >
		
<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 grid place-content-center">
			<p class="text-[#435334]">Hvis 70 millioner streaming-abonnenter sænkede videoopløsningen på deres streamingtjenester fra HD til Standard, ville der være en månedlig reduktion på 3,5 millioner tons CO2 - svarende til at eliminere 6% af den samlede månedlige kulforbrug i USA.</p>
		</div>
		<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 lg:mb-16 grid place-content-center mt-4 lg:mt-0">
			<p class="text-[#435334]">Vores grænseløse forbrug af data i dag kræver 3 gange mere energi end alle solpaneler i verden kan producere. Vores internetfeber fungerer hovedsageligt på fossile brændstoffer, så klikke, scrolle og streame er ansvarlige for mere end 870 millioner tons CO2, hvilket tilføjer mere kraft til den dødelige globale opvarmningstrend.</p>
		</div>
		<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 grid place-content-center mt-4 lg:mt-0">
			<p class="text-[#435334]">Hver dag svirrer 281 milliarder e-mails rundt om vores planet. Opdatering, læsning og svar på vores arbejds-e-mails tager mere end 3 timer om dagen, 5 hvis du inkluderer personlige e-mailkonti. Det kan tage mere end 23% af vores arbejdsdag, mere end 20 uger om året. At organisere dine e-mails, sende færre af dem og bruge alternative kommunikationsmetoder som fælles arbejdsområder ville frigøre den tid, men også begrænse den ineffektive praksis med at organisere arbejde gennem e-mails.</p>
		</div>
		
		
		<div class="col-span-3 p-6">
			<h1 class="text-[#CF5138] font-['Spectral'] text-8xl font-semibold grid place-items-center pt-2">Vidste du det?</h1>
		</div>
		<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 grid place-content-center">
			<p class="text-[#435334]">Google bruger 15.616 MWh energi hver dag, dette er mere end Hoover Dam producerer, og det ville forsyne et helt land med 1 million indbyggere med strøm i en dag.</p>
		</div>
		<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 lg:mt-16 grid place-content-center mt-4 ">
			<p class="text-[#435334]">Det kræver mere energi at mine efter Bitcoins end hele New Zealand forbruger på et år. Det er vigtigt at huske, at minedrift af Bitcoin ikke producerer andet end nogle få bytes af krypterede data. Det forbruger enorme mængder energi med beregning uden faktisk at skabe et produkt eller en service af nytte.
			Med den energi, du bruger til video-streaming (i gennemsnit 2 timer om dagen), kunne du pendle op til 3000 km eller 2000 miles med en elektrisk scooter om året. Det svarer til et transportbudget på 8 km eller 5 miles om dagen!</p>
		</div>
		<div class="border-solid border-2 border-[#CF5138] rounded-2xl p-6 grid place-content-center mt-4 lg:mt-0">
			<p class="text-[#435334]">En medarbejder, der deltager i 15 timers online møder med deres kamera tændt, skaber 9,4 kg CO2 om måneden. Ved at slukke for videoen ville han spare samme mængde emissioner, der skabes ved at oplade en smartphone hver nat i over 3 år (1151 dage).</p>
		</div>
		<div class="col-start-2">
			<Button variant="primary" size="medium">Del med en ven</Button>
		</div>
		</article>
		
	</section>

	<!-- Sektion 4 - How to? -->
	<section id="sektion4" class="bg-[#9EB384] pt-24 pb-24">
			<div class="lg:ml-48 lg:mr-48">
			<h1 class="text-[#FAF1E4] font-['Spectral'] text-8xl font-semibold mb-10 text-center ">Digital CleanUp</h1>
		</div>
		<article class="lg:grid grid-cols-2 gap--4  ml-20 mr-20 lg:ml-48 lg:mr-48 ">
			<div>
		<div class="bg-[#435334] rounded-full box-content h-28 w-96 ">
			<h2 class="text-[#FAF1E4] font-bold grid place-content-center pt-7">TRIN 1</h2>
			<p class="text-[#FAF1E4] grid place-content-center ">RYD OP PÅ DIN SMARTPHONE</p>
		</div>
		<!-- <div>
			<p>Fjern alle applikationer, som du ikke har brugt i et stykke tid, eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte gamle apps og spil, som du har downloadet, men endnu ikke har prøvet rigtigt. Du vil ikke begynde at bruge dem senere - det er sikkert! De forbruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabyte data om måneden til opdateringer.</p>
		
			<p>Glem ikke at slette eventuelle brugerkonti (inklusive e-mails) og al dens data, som du oprettede, da du var 15 og ikke har haft adgang til i et årti. Du vil øge hastigheden på din telefon og forlænge batteriets levetid - det er altid værd at have så få apps som muligt.</p>

			<p>Gennemgå dine fotos og videoer. Ved at slette det unødvendige og duplikaterne kan du frigøre tiere af gigabyte værdifuld lagerplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.</p>
		</div> -->
		<div class="bg-[#435334] rounded-full box-content h-28 w-96 mt-4 lg:mt-8">
			<h2 class="text-[#FAF1E4] font-bold grid place-content-center pt-7">TRIN 2</h2>
			<p class="text-[#FAF1E4] grid place-content-center ">RYD OP PÅ DIN PC ELLER LAPTOP</p>
		</div>
		<!-- <div>
			<p>Ryd op på din pc og slet filer, der er duplikater, eller som er blevet ubrugelige. Sorter dine fotos, slet duplikaterne og de slørede. Gennemgå videoer og slet sete eller unødvendige filer. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer! Se retningslinjerne for, hvordan du rydder op på din computer og drev.</p>
		</div> -->
			</div>
			<div>
		<div class="bg-[#435334] rounded-full box-content h-28 w-96 mt-4 lg:mt-0 ">
			<h2 class="text-[#FAF1E4] font-bold grid place-content-center pt-7">TRIN 3</h2>
			<p class="text-[#FAF1E4] grid place-content-center ">RYD OP I DIN INDBAKKE</p>
		</div>
		<!-- <div>
			<p>Filtrer e-mails efter de ældste og arkiver dem. AFBESTIL nyhedsbreve, som du ikke læser. Vælg lange samtaler, vælg den nyeste, og SLET alt andet. Søg efter fælles navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem som en masse. Vær modig og klik på SLET-knappen. Se retningslinjerne for, hvordan du rydder op i din indbakke!</p>
		</div> -->
		<div class="bg-[#435334] rounded-full box-content h-28 w-96 mt-4 lg:mt-8">
			<h2 class="text-[#FAF1E4] font-bold grid place-content-center pt-7">TRIN 4</h2>
			<p class="text-[#FAF1E4] grid place-content-center ">LAV NYE ARRANGEMENTER</p>
		</div>
		<!-- <div>
			<p>I stedet for at sende e-mails, brug flere fælles arbejdspladser. Hold op med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer i en sky på ét sted, så der ikke er behov for at have den samme fil i hver computer. Tænk først, før du laver en sikkerhedskopi. Skab mindre "hurtigt indhold" og vær mere bevidst om dine videoer og fotos. Sørg for kun at sikkerhedskopiere filer, som du får brug for, og fotos, som du elsker.</p>

			<p>Små ændringer i dine internetvaner, såsom at slukke for video under et virtuelt møde, reducere kvaliteten af streamingtjenester, mindske spilletiden, begrænse tiden på sociale medier og afmelde nyhedsbreve og e-mail-lister, kan markant reducere din miljømæssige fodaftryk!</p>
		</div> -->
			</div>
		</article>
	</section>

	<!-- Sektion 5 - Hvor meget er slettet? -->
	<section class="bg-[#CEDEBD] p-4 pt-24 pb-24">
		<div class="lg:ml-48 lg:mr-48">
		<h1 class="text-[#CF5138] font-['Spectral'] text-8xl font-semibold">Hvordan ved jeg, hvor meget jeg har slettet?</h1>

			<h2 class="text-[#435334] font-['Spectral'] font-semibold text-3xl lg:mt-16 uppercase ">Sletning af emails</h2>
			<div class="h-0.5 bg-[#435334] mb-10"></div>

		<article class="lg:grid grid-cols-2  gap-28  ml-20 mr-20 lg:ml-0 lg:mr-0  " >
		
			<div >
<div>
	<h3 class="text-[#CF5138] font-semibold text-3xl ">1. Tjek den aktuelle størrelse på din indbakke</h3>
			<p class="mt-2">Tjek den aktuelle størrelse på din indbakke.
				Gå til Outlook > Filer > Indstillinger for indbakke > skriv antallet af ledige GB i din indbakke ned. Glem ikke dette, ellers vil du ikke vide resultaterne af dine rengøringsindsatser!
			</p>
		</div>
<div class="mt-8">
	<h3 class="text-[#CF5138] font-semibold text-3xl">2. Filtrer e-mails efter den ældste</h3>
			<p class="mt-2">Filtrer e-mails efter den ældste, du har, og saml dem i én mappe.</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">3. Søg efter almindelige navne</h3>
			<p class="mt-2">Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem som en masse. Vær modig og klik på SLET-knappen.</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">4. Vælg lange samtaler</h3>
			<p class="mt-2">Vælg lange samtaler, vælg den nyeste, og SLET alt andet. Hvis det heller ikke er relevant, så tør at slippe af med den sidste.</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">5. Afmeld alle nyhedsbreve</h3>
			<p class="mt-2">Afmeld alle nyhedsbreve, der ikke har vundet din dybere opmærksomhed. Du kommer helt sikkert ikke til at læse dem i fremtiden.</p>
		</div>
	</div>
	<div>
		<div>
			<h3 class="text-[#CF5138] font-semibold text-3xl">6. FYI-e-mails</h3>
			<p class="mt-2">FYI-e-mails (til din orientering) - bare SLET!</p>
		</div>
		<div class="mt-8" >
			<h3 class="text-[#CF5138] font-semibold text-3xl">7. OK-e-mails</h3>
			<p class="mt-2">OK-e-mails (chats med en stor gruppe mennesker, som du kunne gøre i andre kanaler) - bare SLET!</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">8. Bloker uønskede afsendere</h3>
			<p class="mt-2">Bloker uønskede afsendere. Gå til Hjem > Spam > Bloker afsender.</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">9. Slå e-mail-notifikationer fra</h3>
			<p class="mt-2">Slå e-mail-notifikationer fra apps og sociale medier fra.</p>
		</div>
		<div class="mt-8">
			<h3 class="text-[#CF5138] font-semibold text-3xl">10. Slet gamle aftaler</h3>
			<p class="mt-2">Slet gamle aftaler fra dine online kalendere. Alle de overskredne aftaler hober sig op i din kalendermappe og skaber digitalt affald. Gør det til din ugentlige rutine at slette dem.</p>
		</div>
	</div>
		
		</article>
		
	</div>
	</section>

	<!-- Sektion 6 - Ryd op i mobilstorage -->
	<section id="sektion6" class="bg-[#FAF1E4] pt-24 pb-24">
		<div class="lg:ml-48 lg:mr-48">
		<h1 class="text-[#435334] font-['Spectral'] font-semibold text-3xl uppercase">Ryd op i mobilstorage</h1>
		<div class="h-0.5 bg-[#435334] mb-10"></div>
		<article class="lg:grid grid-cols-2 gap-x-4 gap-y-4 ml-20 mr-20 lg:ml-0 lg:mr-0  ">
			
<div>
			<div class="border-solid border-2 border-[#435334] rounded-2xl p-6">
			<p class="text-[#CF5138]">1. Skriv den aktuelle ledige lagerplads på din mobiltelefon ned</p>

				<p class="text-[#435334]">- Android-telefoner: Menu > Indstillinger > Lagerplads</p>
				<p class="text-[#435334] mt-2">- iPhones: Indstillinger > Generelt > Lagerplads</p>

				<p class="text-[#435334] mt-2">Glem ikke dette, ellers vil du ikke kende dine resultater fra oprydningen!</p>
		</div>
		<div class="border-solid border-2 border-[#435334] rounded-2xl p-6 mt-4">
			<p class="text-[#CF5138]">2. Vov at slette alt unødvendigt</p>

				<p class="text-[#435334]">Din telefon bør have mindst 1 GB hukommelsesplads fri. Fjern alle applikationer, som du ikke har brugt eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte gamle apps og spil, som du har downloadet, men aldrig rigtigt har brugt. Du vil ikke begynde at bruge dem senere – det er sikkert!</p>

				<p class="text-[#435334] mt-2">Du kan også slette din telefons forudinstalleret applikationer, men sørg for, at du ikke fjerner systemapplikationer.
			</p>
		</div>
		<div class="border-solid border-2 border-[#435334] rounded-2xl p-6 mt-4">
			<p class="text-[#CF5138]">3. Plej din cache</p>

				<p class="text-[#435334]">Det er værd at rydde din telefons cache en gang imellem.</p>

				<p class="text-[#435334] mt-2">- På Android-telefoner, gå til Indstillinger > Tryk på Lagerplads > Find den applikation, du vil rydde > Ryd cache</p>
				<p class="text-[#435334] mt-2">- På iPhones, gå til Indstillinger > Safari > Ryd historik og webstedsdata > Ryd historik og data</p>

				<p class="text-[#435334] mt-2">Kontroller også, hvor meget plads dine apps tager, gå til Indstillinger > Generelt > Brug (iPhone). Du bør slette de tungeste apps og geninstallere dem igen. Du vil blive overrasket over, hvor meget mere plads dette giver dig.
			</p>
		</div>
	</div>
	<div>
		<div class="border-solid border-2 border-[#435334] rounded-2xl p-8 mt-4 lg:mt-0">
			<p class="text-[#CF5138]">4. Opbevar dine vigtige dokumenter i skyen og fotos og videoer på eksterne harddiske.</p>

				<p class="text-[#435334] mt-2">Har du virkelig brug for ti versioner af det samme billede, eller kunne du gemme kun det bedste? Det er typisk at holde dine mest værdifulde minder kun på din telefon, og det er en stor risiko at miste dem alle på én gang! Så opbevar dine personlige fotos og videoer på eksterne harddiske og dine vigtige dokumenter i skytjenester som iCloud, Dropbox eller Microsoft OneDrive.</p>

				<p class="text-[#435334] mt-2">På eksterne harddiske er dine billeder og videoer sikre uden at optage plads på din telefon. Ekstern opbevaring er en billig måde at opbevare dine minder på uden at bekymre dig om at miste dem. Hvis du ikke har gjort dette før, er det nu tid til at begynde!
			</p>
		</div>
		<div class="border-solid border-2 border-[#435334] rounded-2xl p-12 mt-4">
			<p class="text-[#435334]"><a class="text-[#CF5138]">5. Gå tilbage til den oprindelige lagerstørrelse på din telefon</a> - se det nummer, du skrev ned i begyndelsen, og tjek derefter den aktuelle størrelse og lav beregningerne - hvor mange GB formåede du at slette?</p>
		</div>
		<div class="border-solid border-2 border-[#435334] rounded-2xl p-14 mt-4">
			<p class="text-[#435334]"><a class="text-[#CF5138]">6. Til sidst</a>, gå tilbage til vores kampagneside og udfyld antallet af slettede gigabyte. Hvis du vil fortsætte med at rydde op, kan du deltage igen og udfylde de nye tal.</p>
		</div>
		</article>
		<div class="">
			<Button variant="primary" size="medium">Del dine resultater</Button>
		</div>
	</section>

	<!-- Formular -->
	
	<form id="sektion7" class="bg-[#9EB384] pt-24 pb-24">
		
<div class="lg:ml-48 lg:mr-48">
	<h1 class="text-[#FAF1E4] font-['Spectral'] text-8xl font-semibold">Registrer dit digitale cleanup</h1>
		<div class="grid gap-3 mt-20">
			<label class="text-[#435334] text-2xl font-['Spectral'] font-semibold" for="fornavn">Fornavn:</label>
			<input class="border-solid border-2 border-[#435334] rounded-2xl bg-[#9EB384]"  class="" type="text" id="fornavn" name="fornavn">
		</div>

		<div class="grid gap-3 mt-12">
			<label class="text-[#435334] text-2xl font-['Spectral'] font-semibold" for="efternavn">Efternavn:</label>
			<input class="border-solid border-2 border-[#435334] rounded-2xl bg-[#9EB384]"  type="text" id="efternavn" name="efternavn">
		</div>

		<div class="grid gap-3 mt-12">
			<label class="text-[#435334] text-2xl font-['Spectral'] font-semibold" for="email">Antal:</label>
			<input class="border-solid border-2 border-[#435334] rounded-2xl bg-[#9EB384]"  type="email" id="email" name="email">
		</div>

		<div class="grid gap-3 mt-12">
			<label class="text-[#435334] text-2xl font-['Spectral'] font-semibold" for="organisationsnavn" class="col-span-6">Organisationsnavn:</label>
			<input  class="border-solid border-2 border-[#435334] rounded-2xl bg-[#9EB384]" type="text" id="organisationsnavn" name="organisationsnavn" class="col-span-2">
		</div>

		<div class="grid gap-3 mt-12">
			<label class="text-[#435334] text-2xl font-['Spectral'] font-semibold" for="antal">Antal:</label>
			<input class="border-solid border-2 border-[#435334] rounded-2xl bg-[#9EB384]"  type="text" id="antal" name="antal">
		</div>
<div>
	<p class="text-[#435334] mt-4">Totalt slettede 8.511.463 gigabyte og sparede 2.127.865 kilo CO₂ om året</p>
</div>

		<div class="mt-4">
			<input class="border-solid border-2 border-[#435334] rounded-xl bg-[#9EB384]"  type="checkbox" id="nyhedsbrev" name="nyhedsbrev">
			<label class="text-[#435334]" for="nyhedsbrev">* I agree with Let’s Do It, World Terms and Conditions</label>
		</div>

		<div class="mt-4">
			<input class="border-solid border-2 border-[#435334] rounded-xl bg-[#9EB384]"  type="checkbox" id="nyhedsbrev" name="nyhedsbrev">
			<label class="text-[#435334]" for="nyhedsbrev">I want to sign up for news from World Cleanup Day</label>
		</div>

		<div class="">
			<Button variant="primary" size="medium">Registrer</Button>
		</div>
	</div>
	</form>
</MainLayout>