---
const { variant= "primary", size = "medium" } = Astro.props; 

const buttonStyling = "text-[#FAF1E4] font-['Spectral'] font-semibold bg-[#CF5138] rounded-full mt-5 mb-5 animate-pulse uppercase" ; 

const variantClasses = {

"primary": "bg-hvid hover:bg-[#A82A11]",

"secondary": "bg-hvid hover:bg-orange-500"

};

const sizeClasses = {

"large": "tailwind classes her",

"medium": "p-5",

"small": "p-2"

};

---
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
