---
---
<div class="flex flex-col items-center justify-center py-4">
    <p class="text-center p-4 mb-2">Copyright © 2024 Digital Cleanup Day & Let's Do It World</p>

    <div class="flex flex-row gap-4">
        <a href="https://twitter.com/letsdoitworld"> <img class="w-10 h-10" src="/x.png" alt="Twitter logo"></a>
        <a href="https://www.youtube.com/worldcleanupday"> <img class="w-10 h-10" src="/yt.png" alt="YouTube logo"></a>
      <a href="https://www.linkedin.com/company/world-cleanup-day/"> <img class="w-10 h-10" src="/linkedin.png" alt="LinkedIn logo"></a>
      <a href="http://instagram.com/worldcleanupday.global"> <img class="w-10 h-10" src="/insta.png" alt="Instagram logo"></a>
      <a href="http://facebook.com/worldcleanupday.global"> <img class="w-10 h-10" src="/fb.png" alt="Facebook logo"></a>
      <a href="https://www.tiktok.com/@worldcleanupday.global"> <img class="w-10 h-10" src="/tiktok.png" alt="TikTok logo"></a>
    </div>

    <button class="text-center des p-4 mb-2 hover:text-[#A82A11]">Tilmeld dig nyhedsbrev</button>
  </div>