---
---
<div class="flex flex-row justify-between items-center py-4">
    <a href="/" class="shrink-0">
        <img class="w-20 h-20 m-4" src="/Logo-mørkgrøn.png" alt="logo"/>
    </a>
    
    <ul class="flex flex-row gap-6 justify-center flex-grow ml-20">
        <li class="text-[#435334] font-['Spectral'] hover:text-[#A82A11]"><a href="#sektion1">Hvad er digitalt skrald?</a></li>
        <li class="text-[#435334] font-['Spectral'] hover:text-[#A82A11]"><a href="#sektion2">Problemet</a></li>
        <li class="text-[#435334] font-['Spectral'] hover:text-[#A82A11]"><a href="#sektion3">Vidste du det?</a></li>
        <li class="text-[#435334] font-['Spectral'] hover:text-[#A82A11]"><a href="#sektion4">Digital CleanUp</a></li>
        <li class="text-[#435334] font-['Spectral'] hover:text-[#A82A11]"><a href="#sektion6">Mobil Storage</a></li>
    </ul>

    <button class="text-[#FAF1E4] font-['Spectral'] font-semibold bg-[#CF5138] p-5 rounded-full m-4 hover:bg-[#A82A11]"><a href="#sektion7">Registrer resultat</a></button>
</div>
