---
import Button from '../components/Button.astro';
---
<div x-data="{ showmenu: false }" class="p-6 fixed w-full z-50 bg-[#FAF1E4] text-[#435334]">
    <div id="navbar" class="flex flex-row justify-center">
        <div id="logo" class="bg-[url('/footer_ikoner/logo.svg')] hover:bg-[url('/footer_ikoner/logo_hover.svg')] bg-cover w-[4.5rem] h-[5rem] transition duration-500 hover:opacity-95">
            <a href="#top"></a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-6 pt-8">
                <li class="hover:text-[#CF5138] "><a href="#sektion1">Digital Skrald</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion2">Problemet</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion3">'Vidste du?'</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion4">Digital cleanup</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion5">Sletning af emails</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion6">Ryd op i mobilstorage</a></li>
                <li class="hover:text-[#CF5138] "><a href="#sektion7">Mit resultat</a></li>
                <li> <Button variant="primary" size="small">Registrer</Button></li>
            </ul>
        </nav>
        <button  id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center list-none" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul >
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#">Digital Skrald</a></ul></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion2">Problemet</a></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion3">'Vidste du?'</a></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion4">Digital cleanup</a></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion5">Sletning af emails</a></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion6">Ryd op i mobilstorage</a></li>
            <li class="hover:text-[#CF5138] text-center py-4"><a href="#sektion7">Mit resultat</a></li>
            <li class="text-center"> <Button variant="primary" size="small">Registrer</Button></li>
        </ul>
    </nav>
</div>
