---
---
<div class="flex flex-row justify-between items-center py-4">
    <a href="/" class="shrink-0">
        <img class="w-20 h-20 m-4" src="/Logo-mørkgrøn.png" alt="logo"/>
    </a>
    
    <ul class="flex flex-row gap-6 justify-center flex-grow">
        <li class="text-[#435334]"><a href="#sektion1">Hvad er digitalt skrald?</a></li>
        <li class="text-[#435334]"><a href="#sektion2">Problemet</a></li>
        <li class="text-[#435334]"><a href="#sektion3">Vidste du det?</a></li>
        <li class="text-[#435334]"><a href="#sektion4">Digital CleanUp</a></li>
        <li class="text-[#435334]"><a href="#sektion6">Mobil storage</a></li>
    </ul>

    <button class="text-[#435334] border border-[#435334] rounded-full p-4 m-4"><a href="#sektion7">Registrer resultat</a></button>
</div>
